# Compiled files
/build/
/dist/

# Everything else should keep same with .npmignore
*.swp
*.tgz

yarn.lock
bun.lock
package-lock.json
.cache/
npm-debug.log
yarn-error.log
/node_modules/

tsconfig.tsbuildinfo
/dist-tests/
